<!DOCTYPE html>
<html>
	<head>
        <title>User Dashboard</title>
    </head>
    <body>
        <p>Welcome to the user dashboard</p>
        <form method="POST" action="/user/new">
            <button type="submit">New Portfolio</button>
        </form>
        <form method="POST" action="/user/edit">
            <button type="submit">Edit Existing Protfolio</button>
        </form>
        <form method="POST" action="/user/status">
            <button type="submit">Check Status</button>
        </form>
        <form method="POST" action="/user/print">
            <button type="submit">Print a portfolio</button>
        </form>
        <form method="POST" action="/">
            <button type="submit">Logout</button>
        </form>
    </body>
</html>