<!DOCTYPE html>
<html>
	<head>
        <title>
            Check Status
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">
    </head>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    input {
        font-size: 14px;
    }
    .bigbox {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        height: 200px;
        width: 600px;
    }
</style>
    <body>
        <form>
            <h2>Status of Current Portfolio</h2>
            <div>
                <label for="status">Status</label>
                <input type="text" id="status" name="status" placeholder="UNCHECKED" value={{.Status}} disabled>
            </div>
        </form>
    </br>
        <form method="POST" action="/user/dash">
            <button type="submit">Dashboard</button>
        </form>
    </body>
</html>
</DOCTYPE>