<!DOCTYPE html>
<html>
	<head>
        <title>New User</title>
    </head>
    <body>
        <p>Create a new user</p>
        <form method="POST" action="/new/dash"> 
            <!--if /new it will take user input but not go to a new page. if /new/dash if will not take input but will leave the page-->
            Please input your desired username to begin. <br>
            <input type="text" name="username" id="username">
        <!--</form>-->
        <!--<form method="POST" action="/new/dash">--> <!--same problem-->
            <input type="submit" value="Submit">
        </form>
        <!-- <form method="POST" action="/">
            <button type="submit">Back to login</button>
        </form> -->
    </body>
</html>
</DOCTYPE>

<!--Fixedish-->