<!DOCTYPE html>
<html>
	<head>
        <title>User Login</title>
    </head>
    <body>
        <p>User Login. The login check is currently under construction.</p>
        <form method="POST" action="/user/dash">
            Please input your username to login. <br>
            <input type="text" name="user" id="username">
            <input type="submit" value="Submit">
        </form>
        <form method="POST" action="/">
            <button type="submit">Take me back</button>
        </form>
</html>
</DOCTYPE>